@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
	background-image: url('img/bg.jpg');
	overflow: hidden;
}
p{
	margin: 0px;
	pointer-events: none;
}
.kor{
	font-family: 'Nanum Gothic';
}
.eng{
	font-family: 'Helvetica';
}
#book{
	-webkit-transform:  translate3d(0px, 0px, 0px);
	-webkit-perspective: 5000px;
	display: none;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-640px;
	margin-top: -410px;
	width:1280px;
	height:780px;
	
}
#page0{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	font-size: 72px;
	color:white;
	background-color: #2c2119;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content0{
	font-size: 72px;
	position: absolute;
}
#page1{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content1{
	font-size: 72px;
	color:white;
	background-color: lightgrey;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page2{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content2{
	font-size: 72px;
	color:white;
	background-color: lightgrey;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page3{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content3{
	font-size: 72px;
	color:white;
	background-color: lightgrey;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page4{
	-webkit-transform-style: preserve-3d;
	-webkit-box-shadow: 0px 0 100px 30px rgba(0, 0, 0, 0.6);
	color:black;
	background-color:lightgrey;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content4{
	font-size: 72px;
	position: absolute;
}

#intro1{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 70px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color:black;
	background-color: white;
	position: absolute;
	left:40px;
	width:300px;
	height:70px;
}
#work1{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 70px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color:black;
	background-color: white;
	position: absolute;
	left:330px;
	width:300px;
	height:70px;
}
#intro2{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 70px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color:black;
	background-color: lightgrey;
	position: absolute;
	left:40px;
	width:300px;
	height:70px;
	opacity: 0;
}
#work2{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 70px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color:black;
	background-color: lightgrey;
	position: absolute;
	left:330px;
	width:300px;
	height:70px;
	opacity: 0;
}
.index{
	transition:0.3s;
	top:-45px;
}
.indexAni{
	transition:0.3s;
	top:-45px;
}
.indexInit1{
	-webkit-animation: indexInitAni1 1.5s;
	top:-45px;
}
.indexInit2{
	-webkit-animation: indexInitAni2 1.5s;
	top:-45px;
}
@-webkit-keyframes indexInitAni1 {
    0% {
        top:0px;
    }
    50% {
        top:0px;
    }
    70% {
        top:-60px;
    }
	95% {
        top:-45px;
    }
}
@-webkit-keyframes indexInitAni2 {
    0% {
        top:0px;
    }
    55% {
        top:0px;
    }
    75% {
        top:-60px;
    }
	100% {
        top:-45px;
    }
}
.indexAni:hover{
	transition:0.5s;
	top:-60px;
}
.multiply{
	position: absolute;
}

#black{
	transition:0.5s;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    pointer-events: none;
    background-color: black;
    color:grey;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 720px;
	text-align: center;
}
#prev{
	transition:0.5s;
	position: absolute;
	background-color: #414141;
	top:50%;
	left:0%;
	margin-left:15px;
	color:white;
	font-size: 18px;
	width:37px;
	height:52px;
	padding:5px;
	border-radius: 10%;
	opacity: 0;
}
#prevTri{
	-webkit-clip-path: polygon(0px 15px, 28px 0px, 30px 5px, 10px 15px, 30px 25px, 28px 30px);
	background-color: white;
	margin: auto;
	margin-bottom: 3px;
	width:30px;
	height:30px;
}
#next{
	transition:0.5s;
	position: absolute;
	background-color: #414141;
	top:50%;
	left:50%;
	margin-left:575px;
	color:white;
	font-size: 18px;
	width:37px;
	height:52px;
	padding:5px;
	border-radius: 10%;
	opacity: 0;
}
#nextTri{
	-webkit-clip-path: polygon(2px 0px, 30px 15px, 2px 30px, 0px 25px, 20px 15px, 0px 5px);
	background-color: white;
	margin: auto;
	margin-bottom: 3px;
	width:30px;
	height:30px;
}