body{
	background-image: url('img/bg.jpg');
	overflow: hidden;
}
#book{
	-webkit-transform:  translate3d(0px, 0px, 0px);
	-webkit-perspective: 5000px;
	position: relative;
	margin:auto;
	margin-top:5%;
	width:1280px;
	height:780px;
	
}
#page0{
	background-image: url(img/cover.jpg);
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	font-size: 72px;
	color:white;
	background-color: black;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content0{
	font-size: 72px;
	position: absolute;
}
#page1{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content1{
	font-size: 72px;
	color:white;
	background-color: cyan;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page2{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content2{
	font-size: 72px;
	color:white;
	background-color: cyan;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page3{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-color: white;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content3{
	font-size: 72px;
	color:white;
	background-color: cyan;
	position: absolute;
	margin:auto;
	top:70px;
	width:960px;
	height:576px;
}
#page4{
	color:black;
	background-color:lightgrey;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content4{
	font-size: 72px;
	position: absolute;
}

#intro1{
	background-image: url(img/bg_current.png);
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 60px;
	font-size: 36px;
	text-align: center;
	color:black;
	background-color: white;
	position: absolute;
	top:-60px;
	width:300px;
	height:60px;
	-webkit-backface-visibility:hidden;
}
#work1{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 60px;
	font-size: 36px;
	text-align: center;
	color:black;
	background-color: white;
	position: absolute;
	top:-60px;
	left:300px;
	width:300px;
	height:65px;
	-webkit-backface-visibility:hidden;
}
#intro2{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 60px;
	background-image: url(img/bg_current.png);
	font-size: 36px;
	text-align: center;
	color:black;
	background-color: grey;	
	position: absolute;
	top:-60px;
	width:300px;
	height:60px;
}
#work2{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 300px 60px;
	font-size: 36px;
	text-align: center;
	color:black;
	background-color: grey;
	position: absolute;
	top:-60px;
	left:300px;
	width:300px;
	height:60px;
}

.multiply{
	position: absolute;
}

#nextBtn{
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0px, 0px, 0.5px);
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#prevBtn{
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0px, 0px, 0.5px);
	position: absolute;
	left:-1280px;
	width:1280px;
	height:780px;
}