body{
	background-image: url('img/bg.jpg');
	overflow: hidden;
	font-family: 'Malgun Gothic';
	cursor: default;
}
p{
	margin: 0px;
	pointer-events: none;
}
.block{
	display: inline-block;
	width:330px;
	height:260px;
	float: left;
	margin-bottom: 45px;
	margin-right: 18px;
}
.subBlock{
	float:left;
	width:156px;
	margin-right:18px;
}
.workBlock{
	display: inline-block;
	width:678px;
	height:580px;
	float: left;
	margin-right: 18px;
}
h2{
	font-size: 16px;
	margin: 0px;
	margin-bottom: 16px;
}
h3{
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin: 0px;
}
.footerLeft{
	position: relative;
	float: left;
	margin-top:-30px;
	font-size:12px;
	color:#555555;
}
.footerRight{
	position: relative;
	float: right;
	margin-top:-30px;
	margin-right: 18px;
	font-size:12px;
	color:#555555;
}
/*work페이지*/
.category{
	transition:0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}
.category:hover{
	transition:0.5s;
	-webkit-filter:brightness(0.7);
}

#book{
	-webkit-transform:  translate3d(0px, 0px, 0px);
	-webkit-perspective: 5000px;
	display: none;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-640px;
	margin-top: -410px;
	width:1280px;
	height:780px;
	
}
#page0{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	font-size: 72px;
	color:white;
	background-color: #2c2119;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#page1, #page2, #page3, #page4, #page5, #page6, #indexPage{
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin:0px 0px;
	background-image: url(img/bg_page.png);
	background-color: #f3f3f3;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#page7{
	-webkit-transform-style: preserve-3d;
	-webkit-box-shadow: 0px 0 100px 30px rgba(0, 0, 0, 0.6);
	background-image: url(img/bg_page.png);
	background-color:lightgrey;
	position: absolute;
	top:60px;
	width:1280px;
	height:720px;
}
#content0, #content1, #content2, #content3, #content4, #content5, #content6, #content7{
	color:black;
	position: relative;
	left:150px;
	top:70px;
	width:1045px;
	height:580px;
}



.index, .indexHover{
	transition:0.5s;
	top:-45px;
}
.indexHover:hover{
	transition:0.5s;
	top:-60px;
	cursor: pointer;
}
.indexInit{
	-webkit-animation: indexInitAni 0.5s;
	top:-45px;
}
@-webkit-keyframes indexInitAni {
    0% {
        top:0px;
    }
    60% {
        top:-60px;
    }
	100% {
        top:-45px;
    }
}
#intro1, #intro2, #work1, #work2{
	-webkit-mask-image: url(img/index_mask.png);
	-webkit-mask-size: 270px 70px;
	/*font-family: Helvetica;*/
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	color:black;
	background-color: #f3f3f3;
	position: absolute;
	width:270px;
	height:70px;
}

#prev{
	transition:0.5s;
	position: absolute;
	background-color: #414141;
	top:50%;
	left:0%;
	margin-left:15px;
	color:white;
	font-size: 18px;
	text-align: center;
	width:37px;
	height:52px;
	padding:7px 7px 9px 5px;
	border-radius: 10%;
	opacity: 0;
}
#prevTri{
	-webkit-clip-path: polygon(0px 15px, 28px 0px, 30px 5px, 10px 15px, 30px 25px, 28px 30px);
	background-color: white;
	margin: auto;
	margin-bottom: 3px;
	width:30px;
	height:30px;
}
#next{
	transition:0.5s;
	position: absolute;
	background-color: #414141;
	top:50%;
	left:50%;
	margin-left:575px;
	color:white;
	font-size: 18px;
	text-align: center;
	width:37px;
	height:52px;
	padding:7px 7px 9px 5px;
	border-radius: 10%;
	opacity: 0;
}
#nextTri{
	-webkit-clip-path: polygon(2px 0px, 30px 15px, 2px 30px, 0px 25px, 20px 15px, 0px 5px);
	background-color: white;
	margin: auto;
	margin-bottom: 3px;
	width:30px;
	height:30px;
}
#black{
	transition:0.5s;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
    pointer-events: none;
    background-color: black;
    color:grey;
    font-size: 20px;
    line-height: 720px;
	text-align: center;
}